@import url("./css/Variable.css");
/* genral style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  outline: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
/* Header style */
.App header {
  padding: 0 var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.App header .logo {
  height: var(--genralRange);
  display: flex;
  justify-content: center;
  align-items: center;
}
.App header .logo > img {
  width: var(--logoWidth);
  height: var(--logoHeight);
}
/* links style */
.App ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}
.App ul li {
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.App ul li .link {
  text-decoration: none;
  color: var(--titleColor);
}
.App ul li .link:hover {
  color: var(--seconColor);
}
.App .contactUs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .contactUs .btn-contact {
  background-color: var(--seconColor);
  color: var(--mainColor);
  width: var(--btnWidth);
  height: var(--btnHeight);
  border-radius: var(--borderRadius);
  -webkit-border-radius: var(--borderRadius);
  -moz-border-radius: var(--borderRadius);
  -ms-border-radius: var(--borderRadius);
  -o-border-radius: var(--borderRadius);
}
.App .contactUs .btn-contact:hover {
  background-color: var(--mainColor);
  color: var(--seconColor);
  cursor: pointer;
}
.App .menu {
  display: none;
}

@media (max-width: 768px) {
  .App header {
    padding: 0 30px;
  }
  /* links style */
  .App ul {
    flex-direction: row;
  }
  .App .contactUs .btn-contact {
    display: none;
  }
}

@media (max-width: 480px) {
  .App header {
    position: relative;
  }
  .App ul {
    display: none;
    width: 100%;
    position: absolute;
    background-color: var(--mainColor);
    right: 0px;
    top: 73px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: var(--borderRadius);
    -webkit-border-radius: var(--borderRadius);
    -moz-border-radius: var(--borderRadius);
    -ms-border-radius: var(--borderRadius);
    -o-border-radius: var(--borderRadius);
  }
  .App ul li {
    padding: 20px;
  }
  .App .menu {
    display: block;
    position: absolute;
    right: 30px;
    top: calc(var(--logoHeight) / 2px);
  }
  /* .App .menu:hover + ul {
    display: block;
  } */
}
